In [64]:
import pandas as pd
from numpy import dot
from numpy.linalg import norm
from collections import Counter
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

#function to input the corpus and get dataframe as output
def computeTFIDF(corpus):
    vectorizer = CountVectorizer()


    #Calculation of Term Frequency
    X = vectorizer.fit_transform(corpus)
    features=vectorizer.get_feature_names()#important features and words which are included in the document itself.

    z=X.toarray()#Calculation of Term Frequency: which indicates that how many times are the feature words appearing in the document above eg: if after==[1] then it occurs in the given document
    # print(z)


    #Calculation of IDF
    vectorizer1 = TfidfVectorizer(min_df=1)
    X1 = vectorizer1.fit_transform(corpus)
    idf = vectorizer1.idf_


    print (features)
    #Converting the TF_IDF to DataFrame in Pandas
    df=pd.DataFrame(X1.toarray())
    return df


def computeCosineSim(df):
    #Cosine Similarity is nothing but dot product of two vectors and calculation of cos(theta)
    cos_sim = dot(df.loc[0].values, df.loc[1].values)/(norm(df.loc[0].values)*norm(df.loc[1].values))
    return cos_sim

In [65]:
sentences=['Golden State Warriors  shooting guard  Klay Thompson , who left Game 2 of the NBA Finals versus the  Toronto Raptors  with  left hamstring tightness  and did not return, told  Rachel ...','Golden State Warriors  star  Klay Thompson  left Game 2 of the NBA Finals against the  Toronto Raptors  on Sunday with left hamstring tightness and did not return, per a  team report ...']
df=computeTFIDF(sentences)
df

['against', 'and', 'did', 'finals', 'game', 'golden', 'guard', 'hamstring', 'klay', 'left', 'nba', 'not', 'of', 'on', 'per', 'rachel', 'raptors', 'report', 'return', 'shooting', 'star', 'state', 'sunday', 'team', 'the', 'thompson', 'tightness', 'told', 'toronto', 'versus', 'warriors', 'who', 'with']

,0,1,2,3,4,5,6,7,8,9,...,23,24,25,26,27,28,29,30,31,32
0,0.000000,0.162538,0.162538,0.162538,0.162538,0.162538,0.228442,0.162538,0.162538,0.325077,...,0.000000,0.325077,0.162538,0.162538,0.228442,0.162538,0.228442,0.162538,0.228442,0.162538
1,0.222705,0.158456,0.158456,0.158456,0.158456,0.158456,0.000000,0.158456,0.158456,0.316913,...,0.222705,0.316913,0.158456,0.158456,0.000000,0.158456,0.000000,0.158456,0.000000,0.158456

In [66]:
print (computeCosineSim(df))

0.6696353966944902